<section class="headerSection">
    <div class="titleContainer">
        <p>From Concept to Code </p>
        <p>Sculpting Ideas into Digital Realms</p>
    </div>
    <div class="iconsContainer">
        <ul class="mainIcons">
            <li class="mainIcon" *ngFor="let icon of mainIcons">
                <img [src]="icon.url" [alt]="icon.name + ' icon'" [@pulse]="mainIconsState[icon.name]"
                    (mouseover)="mainIconsChangeState(icon.name)">
                <div class="shadow"></div>
            </li>
        </ul>
        <ul class="otherIcons">
            <li class="icon" *ngFor="let icon of otherIcons">
                <img [src]="icon.url" [alt]="icon.name + ' icon'" [@flip]="otherIconsState[icon.name]"
                    (mouseover)="otherIconsChangeState(icon.name)">
            </li>
        </ul>
    </div>
</section>