<section class="headerSection">
    <div class="titleContainer">
        <p>From Concept to Code </p>
        <p>Sculpting Ideas into Digital Realms</p>
    </div>
    <div class="iconsContainer">
        <ul class="mainIcons">
            <li class="mainIcon" *ngFor="let icon of mainIcons"><img [src]="icon" alt="icon">
                <div class="shadow"></div>
            </li>
        </ul>
        <ul class="otherIcons">
            <li class="icon" *ngFor="let icon of otherIcons"><img [src]="icon" alt="icon"></li>
        </ul>
    </div>
</section>