<section class="contactSection">
    <header class="contactHeader">
        <h1>Contact me</h1>
        <p>My inbox is always open for any questions and new opportunities</p>
        <p>Don't wait, just write and send!</p>
    </header>
    <form class="form" [formGroup]="formContact">
        <div class="formHeader">
            <div class="boxColumn">
                <label for="email">Email</label>
                <input name="email" id="email" formControlName="email"
                    [ngClass]="{'formControlValid': email?.valid, 'formControlInvalid': emailControlStatus == 'INVALID'}">
            </div>
            <div class="boxColumn">
                <label for="subject">Subject</label>
                <input name="subject" id="subject" formControlName="subject"
                    [ngClass]="{'formControlValid': subject?.valid, 'formControlInvalid': subjectControlStatus == 'INVALID'}">
            </div>
        </div>
        <div class="formFooter">
            <label for="message">Message</label>
            <textarea name="message" id="message" cols="30" rows="10" minlength="20" maxlength="500"
                formControlName="message" [placeholder]="messagePlaceholder"
                [ngClass]="{'formControlValid': message?.valid, 'formControlInvalid': messageControlStatus == 'INVALID'}"
                [value]="messageValue"></textarea>
            <button type="submit" (click)="sendEmail()" class="submitBtn">Send</button>
        </div>
    </form>
</section>