@use "../../../partialsScss" as *;

@keyframes faulty-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 0.1;
  }
  4% {
    opacity: 0.5;
  }
  19% {
    opacity: 0.5;
  }
  21% {
    opacity: 0.1;
  }
  23% {
    opacity: 1;
  }
  80% {
    opacity: 0.5;
  }
  83% {
    opacity: 0.4;
  }

  87% {
    opacity: 1;
  }
}

@keyframes text-flicker {
  0% {
    opacity: 0.1;
  }

  2% {
    opacity: 1;
  }

  8% {
    opacity: 0.1;
  }

  9% {
    opacity: 1;
  }

  12% {
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0.3;
  }
  30% {
    opacity: 1;
  }

  70% {
    opacity: 0.7;
  }
  72% {
    opacity: 0.2;
  }

  77% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.9;
  }
}

@keyframes border-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 1;
  }
  4% {
    opacity: 0.1;
  }

  8% {
    opacity: 1;
  }
  70% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

.titleLetter {
  display: inline-block;
}

.welcomeSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: min(100%, 1300px);
  margin: 0 auto;

  // @include debug;

  @include screen1100 {
    padding-right: 50px;
  }

  @include screen1300 {
    padding-right: 80px;
  }

  @include screen1600 {
    padding-right: 200px;
  }
}

.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include screen600 {
  }

  // @include debug;
}

.title {
  margin: 55px 0 0 15px;
  line-height: 3rem;
  // font-family: "Roboto", sans-serif;

  font-weight: 500;
  font-size: $fs-40to80-big;
  color: white;
  // @include scss.debug;

  @include screen500 {
    line-height: 3.3rem;
  }

  @include screen600 {
    line-height: 3.8rem;
  }

  @include screen700 {
    line-height: 4.2rem;
  }

  @include screen900 {
    margin: 80px 0 0 15px;
    line-height: 4.8rem;
  }

  @include screen1100 {
    line-height: 5.7rem;
  }
  @include screen1400 {
    margin: 140px 0 0 0px;
    line-height: 3.2rem;
  }
}

.titleFirst {
  font-size: clamp(3.75rem, 2.8632rem + 3.7838vw, 5.9375rem);
}

.titleSecond {
  margin: 0 0 0 5vw;
  // font-size: 18px;

  @include screen1400 {
    margin: 0 0 0 160px;
  }
}

.titleThird {
  margin: 0 0 0 9vw;

  @include screen1400 {
    margin: 0 0 0 520px;
  }
}

.underTitle {
  margin: 5px 0 0 65px;
  color: rgb(192, 192, 192);

  @include screen600 {
    margin: 7px 0 0 55px;
    font-size: 22px;
  }

  @include screen1400 {
    transform: translateY(-15px);
    margin: 0px 440px 0px 0px;
  }
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  font-size: 16px;
  color: white;

  // @include debug;

  & p {
    text-align: center;
  }

  & p:nth-of-type(1) {
  }

  & p:nth-of-type(2) {
    margin-top: 15px;
  }

  // & .contactBtn {
  //   margin-top: 100px;
  //   width: 250px;
  //   height: 60px;
  //   background-color: transparent;
  //   border: 1px solid gray;
  //   color: white;
  //   font-weight: 800;
  //   font-size: 18px;
  //   letter-spacing: 1px;
  //   cursor: pointer;

  //   &:hover {
  //     background-color: gray;
  //     color: black;
  //   }
  // }
}

/* BUTTON */

.glowing-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsl(186 100% 69%);
  width: 85%;
  cursor: pointer;
  margin-top: 25px;
  padding: 5px;
  border: 0.15em solid hsl(186 100% 69%);
  border-radius: 0.45em;
  background: none;
  perspective: 2em;
  // font-family: "Raleway", sans-serif;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 2em;
  font-weight: 900;
  // letter-spacing: 1em;

  -webkit-box-shadow: inset 0px 0px 0.5em 0px hsl(186 100% 69%),
    0px 0px 0.5em 0px hsl(186 100% 69%);
  -moz-box-shadow: inset 0px 0px 0.5em 0px hsl(186 100% 69%),
    0px 0px 0.5em 0px hsl(186 100% 69%);
  box-shadow: inset 0px 0px 0.5em 0px hsl(186 100% 69%),
    0px 0px 0.5em 0px hsl(186 100% 69%);
  animation: border-flicker 2s linear infinite;

  @include screen600 {
    margin-top: 40px;
  }

  @include screen900 {
    &:hover {
      color: rgba(78, 78, 78, 0.8);
      // color: transparent;
      text-shadow: none;
      animation: none;
    }

    &:hover .glowing-txt {
      animation: none;
    }

    &:hover .faulty-letter {
      animation: none;
      text-shadow: none;
      opacity: 1;
    }

    &:hover:before {
      filter: blur(1.5em);
      opacity: 1;
    }

    &:hover:after {
      opacity: 1;
    }
  }

  @include screen1200 {
    margin-top: 60px;
  }

  @include screen1600 {
    margin-top: 80px;
  }
}

.glowing-txt {
  float: left;
  // margin-right: -0.8em;
  -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em hsl(186 100% 69%);
  -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em hsl(186 100% 69%);
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em hsl(186 100% 69%);
  animation: text-flicker 3s linear infinite;
}

.faulty-letter {
  opacity: 0.5;
  animation: faulty-flicker 2s linear infinite;
}

.glowing-btn::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.7;
  filter: blur(1em);
  transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
  background: hsl(186 100% 69%);
  pointer-events: none;
}

.glowing-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  background-color: hsl(186 100% 69%);
  box-shadow: 0 0 2em 0.2em hsl(186 100% 69%);
  transition: opacity 100ms linear;
}
