<section class="welcomeSection">
    <div class="mainContent">
        <h1 class="title"><span class="titleFirst">Hi !</span> <br>
            <span class="titleSecond">I'm Karol,</span> <br>
            <span class="titleThird">Web Developer</span>
        </h1>

        <p class="underTitle">JavaScript / Java Developer</p>



        <div class="info">
            <p>A great enthusiast of websites and web applications</p>
            <p>Thanks for visiting and enjoy scrolling</p>
            <button routerLink="contact" class="contactBtn">Contact me</button>
        </div>
    </div>
</section>