@use "../../../partialsScss" as scss;

$anime-time: 8s;

$box-size: 200px;
$clip-distance: 0.05;
$clip-size: $box-size * (1 + $clip-distance * 2);
$path-width: 2px;

$main-color: #69ca62;

%full-fill {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.contactBtn {
  @extend %full-fill;
  width: $box-size;
  height: $box-size;
  margin: auto;
  //   background: $codepen-logo-path no-repeat 50% / 70% rgba(#000, 0.1);
  color: $main-color;
  box-shadow: inset 0 0 0 1px rgba($main-color, 0.5);

  &::before,
  &::after {
    @extend %full-fill;
    content: "";
    z-index: -1;
    margin: -1 * $clip-distance * 100%;
    box-shadow: inset 0 0 0 $path-width;
    animation: clipMe $anime-time linear infinite;
  }

  &::before {
    animation-delay: $anime-time * -0.5;
  }

  // for debug
  &:hover {
    &::after,
    &::before {
      background-color: rgba(#f00, 0.3);
    }
  }
}

@keyframes clipMe {
  0%,
  100% {
    clip: rect(0px, $clip-size, $path-width, 0px);
  }
  25% {
    clip: rect(0px, $path-width, $clip-size, 0px);
  }
  50% {
    clip: rect($clip-size - $path-width, $clip-size, $clip-size, 0px);
  }
  75% {
    clip: rect(0px, $clip-size, $clip-size, $clip-size - $path-width);
  }
}

.title {
  margin: 100px 0 0 50px;
  font-weight: 500;
  font-size: clamp(2.3125rem, 1.603rem + 3.027vw, 4.0625rem);
  line-height: 43px;
  color: white;
  //   border: 1px solid red;

  @include scss.screen500 {
    line-height: 48px;
  }
  @include scss.screen700 {
    line-height: 53px;
  }
  @include scss.screen900 {
    line-height: 58px;
  }
  @include scss.screen1100 {
    line-height: 63px;
  }
  @include scss.screen1300 {
    line-height: 68px;
  }
}

.underTitle {
  margin: 10px 0 0 50px;
  color: gray;
}

.contactBtn {
  position: relative;
  width: 180px;
  height: 40px;
  margin: 150px 0 0 50px;
  z-index: 0;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  //   border: 1px solid blue;
  color: white;
}
