@use "../../../partialsScss" as *;

.titleLetter {
  display: inline-block;
}

.welcomeSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: min(100%, 1300px);
  margin: 0 auto;

  // @include debug;

  @include screen1100 {
    padding-right: 50px;
  }

  @include screen1300 {
    padding-right: 80px;
  }

  @include screen1600 {
    padding-right: 200px;
  }
}

.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include screen600 {
  }

  // @include debug;
}

.title {
  margin: 55px 0 0 15px;
  line-height: 3rem;
  font-weight: 500;
  font-size: $fs-40to80-big;
  color: white;
  // @include scss.debug;

  @include screen500 {
    line-height: 3.3rem;
  }

  @include screen600 {
    line-height: 3.8rem;
  }

  @include screen700 {
    line-height: 4.2rem;
  }

  @include screen900 {
    margin: 80px 0 0 15px;
    line-height: 4.8rem;
  }

  @include screen1100 {
    line-height: 5.7rem;
  }
  @include screen1400 {
    margin: 140px 0 0 0px;
    line-height: 3.2rem;
  }
}

.titleFirst {
  font-size: clamp(3.75rem, 2.8632rem + 3.7838vw, 5.9375rem);
}

.titleSecond {
  margin: 0 0 0 5vw;
  // font-size: 18px;

  @include screen1400 {
    margin: 0 0 0 160px;
  }
}

.titleThird {
  margin: 0 0 0 9vw;

  @include screen1400 {
    margin: 0 0 0 520px;
  }
}

.underTitle {
  margin: 5px 0 0 65px;
  color: rgb(138, 137, 137);

  @include screen600 {
    margin: 7px 0 0 55px;
    font-size: 22px;
  }

  @include screen1400 {
    transform: translateY(-15px);
    margin: 0px 440px 0px 0px;
  }
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  font-size: 16px;
  color: white;

  // @include debug;

  & p {
    text-align: center;
  }

  & p:nth-of-type(1) {
  }

  & p:nth-of-type(2) {
    margin-top: 15px;
  }

  & .contactBtn {
    margin-top: 100px;
    width: 250px;
    height: 60px;
    background-color: transparent;
    border: 1px solid gray;
    color: white;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 1px;
    cursor: pointer;

    &:hover {
      background-color: gray;
      color: black;
    }
  }
}
