<section class="welcomeSection">
    <div class="mainContent">
        <h1 class="title">
            <span class="titleFirst">
                <p class="titleLetter" *ngFor="let letter of titleFirst; let i = index" [@bounce]="animatedLetters[i]">
                    {{ letter }}
                    <span *ngIf="i === 2">&nbsp;</span>
                </p>
            </span>
            <br>
            <span class="titleSecond">
                <p class="titleLetter" *ngFor="let letter of titleSecond; let i = index"
                    [@bounce]="animatedLetters[i + titleFirst.length]">{{ letter }}
                    <span *ngIf="i === 3">&nbsp;</span>
                </p>
            </span>
            <br>
            <span class="titleThird">
                <p class="titleLetter" *ngFor="let letter of titleThird; let i = index"
                    [@bounce]="animatedLetters[i + titleFirst.length + titleSecond.length]">
                    {{ letter }}
                    <span *ngIf="i === 3">&nbsp;</span>
                </p>
            </span>
        </h1>
        <p class="underTitle">JavaScript / Java Developer</p>
        <div class="info">
            <p>A great enthusiast of websites and web applications</p>
            <p>Thanks for visiting and enjoy scrolling</p>
            <button class='glowing-btn' routerLink="contact">
                <span class='glowing-txt'>Co<span class='faulty-letter'>n</span>ta<span class='faulty-letter'>c</span>t
                    me !
                </span>
            </button>
        </div>
    </div>
</section>