@use "../../../partialsScss" as scss;

.mainContainer {
  width: min(100%, 1300px);
  height: 100vh;
  overflow: hidden;

  @include scss.screen900 {
    display: flex;
  }
}

.routerContainer {
  position: relative;
  width: 100%;
  height: calc(100vh - 90px);
  padding: 15px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  // border: 1px solid blue;
}

.routerContainer::-webkit-scrollbar {
  display: none;
}
