@use "../../../partialsScss" as scss;

.mainContainer {
  // width: min(100%, 1300px);
  width: 100%;
  height: 100vh;
  overflow: hidden;
  // background: radial-gradient(#a23982, #1f1013);
  background: radial-gradient(#145273 0%, #000000 90%) center repeat;
  @include scss.screen900 {
    display: flex;
  }
}

.routerContainer {
  // display: flex;
  // justify-content: center;
  position: relative;
  width: 100%;
  height: calc(100vh - 90px);
  padding: 15px;
  overflow-y: auto;
  // -ms-overflow-style: none;
  // scrollbar-width: none;
  // border: 1px solid blue;

  @include scss.screen900 {
    height: 100vh;
  }
}

.lamp {
  position: fixed;
  top: -80px;
  right: -30px;
  width: 300px;
  margin-left: 45vw;
  transform: rotate(10deg);
}
