<div class="mainContainer" #layout [style.background-position]="position" [style]="colorBG">
    <div class="lampContainer">
        <div class="light" [style]="lightColor"></div>
        <img class="lamp" src="./assets/photos/lampDiscoDone.png" alt="lamp">
        <button class="lampBtn" (click)="changeLightColor()"></button>
    </div>

    <app-navMobile></app-navMobile>
    <app-nav-desktop></app-nav-desktop>
    <main class="routerContainer">
        <router-outlet></router-outlet>
    </main>
</div>