<section class="aboutSection">
    <div class="aboutInfo">
        <h1 cdkDrag>About.</h1>
        <p>Addicted to the code</p>
        <p>I thought I was born but they wrote me. <br>And in a language I don't know !</p>
    </div>
    <div class="pictureContainer">
        <img src="./assets/photos/picture.PNG" alt="Picture">
    </div>
</section>
<section class="meAndCode">
    <h2>Me and the code</h2>
    <p>Hello! <br><br>

        I'm Karol, a person who has been drawn into the world of IT and who doesn't
        want to leave it. <br><br>

        For some time now, I've found what I was looking for in the field of computer
        science - the ability to create new things and to be free. And programming is
        precisely what gives me that.

        I started my journey with the front end and without hesitation, I quickly got to
        know the fundamental principles of coding in HTML, CSS, and JavaScript.
        Writing code on this side gives me the opportunity to beautifully present
        content to future users in a clean, clear, and very intuitive way. <br><br>

        But knowing only the front end, I had a feeling as if I were living with just one
        hand. Then it was time for the back end.

        Since Java fell into my hands, I felt like a omnipotent person. From that moment on,
        I can gradually and precisely create whatever I want.

        With such possibilities, I immediately started writing my project that will help
        many people deal with managing their finances. More about that in another tab ! <br><br>

        The only problem with programming is that the more we delve into different
        technologies, the hungrier we become for new ways and possibilities that these
        technologies offer us. <br><br>

        It's not a problem, it's a side effect ! </p>

</section>
<section class="factsContainer">
    <h2>Quick facts</h2>
    <h3 class="factTitle">Where am i from ?</h3>
    <p class="factDesc">Ottignies, Belgium</p>
    <h3 class="factTitle">Specialization</h3>
    <p class="factDesc">Currently, I specialize in both sides of the coin. On the visual side it's Angular
        and on the darker side it's Java and Spring Boot framework.
    </p>
    <h3 class="factTitle">Education</h3>
    <p class="factDesc">I had the opportunity to participate in a great full stack developer course that took
        place in Poland, in Krakow. <br>
        I also have a lot of courses from the network, as well as from udemy, among others.
    </p>
    <h3 class="factTitle">Hobby</h3>
    <p class="factDesc">My biggest hobby is programming. But if the electricity ran out then I would take a thermos
        with good coffee, a personal developpement book and go to a quiet place in nature. <br>
        I also love motorcycles, sensational trips and weightlifting
    </p>
    <h3 class="factTitle">Time to rest</h3>
    <p class="factDesc">There's nothing like lying down on the beach with a cold beer in your hand and watching
        the meat fry on the grill. It is a moment of detachment from reality.
    </p>
    <h3 class="factTitle">Favourite quote</h3>
    <blockquote class=" favQuote"
        cite="https://ipn.gov.pl/en/news/10492,Events-commemorating-the-pontificate-of-John-Paul-II-took-place-throughout-Polan.html#:~:text=The%20word%20Westerplatte%20spoken%20at,one%20must%20undertake%20and%20fulfil.">
        <p>
            “Each of you, my young friends, will find in life some personal "Westerplatte."
            Some measure of tasks that have to be undertaken and fulfilled. Some rightful cause
            for which one cannot avoid fighting. Some duty, or necessity, which one cannot shun.
            From which one cannot desert. Finally, some order of truths and values that must be
            maintained and defended, just like Westerplatte. Maintain and defend, in yourself and
            around you, defend for yourself and for others.”
        </p>

        <p>John Paul ||</p>
    </blockquote>
</section>
<section class="rules">
    <h2>A few rules i follow</h2>
    <h3 class="ruleTitle">Take up challenges all the time</h3>
    <p class="ruleDesc">The best way to develop is to overcome your limits. Taking on challenges that
        are beyond our capabilities and looking for answers wherever we can.
        It is very easy to fall into stagnation and create a comfort zone, so continuous
        learning and the desire to develop your skills is very important.
    </p>
    <h3 class="ruleTitle">Done is better than perfect</h3>
    <p class="ruleDesc">There is a pinch of perfectionism in every programmer. But perfectionism
        comes at a very high cost. It's much better to do a project thoroughly and then
        improve it than to spend so much time on it until the client changes his mind.
    </p>
    <h3 class="ruleTitle">Be an example</h3>
    <p class="ruleDesc">Let's take an example from the best to become one of them and not reinvent the wheel.
        But to become the best, we must learn how to look objectively at our actions and
        question our moves in order to become better and better at what we do.
        So do what you can to be an example to others !
    </p>
</section>
<div class="thanksContainer">
    <p class="thanks">
        Thank you for taking the time to read this page. <br><br>

        I hope this site has allowed you to get to know my personality and my point of view better.
        If you have any questions or comments, don't be afraid to write to me!
    </p>
</div>
<app-footer></app-footer>