@use "../../../partialsScss" as *;

/* ABOUT SECTION SECTION */

h2 {
}

h3 {
  letter-spacing: 0.8rem;
}

.aboutSection {
  display: flex;
  flex-direction: column;
  width: min(100%, 1300px);
  margin: 0 auto;

  @include screen600 {
    flex-direction: row;
    height: 500px;
  }

  @include screen900 {
    padding-top: 75px;
  }
}

.aboutInfo {
  //   border: 1px solid rgb(60, 238, 15);
  & h1 {
    margin: 15px 0 0 15vw;
    font-weight: 600;
    font-size: $fs-40to80-big;
    color: white;
  }

  & p {
    // margin-left: 25px;
    margin-left: 8vw;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    color: $clr-text;
  }

  & p:nth-of-type(1) {
    margin-top: 25px;
  }

  & p:nth-of-type(2) {
    margin-top: 15px;
    line-height: 1.3rem;
  }

  @include screen600 {
    h1 {
      margin-top: 90px;
    }

    p:nth-of-type(1) {
      margin-top: 45px;
    }
  }

  @include screen600 {
    width: 50%;
  }

  @include screen900 {
    h1 {
      margin-left: 11vw;
    }

    p {
      margin-left: 6vw;
    }
  }

  @include screen1100 {
    h1 {
      margin: 70px 0 0 13vw;
      //   margin-left: 13vw;
    }

    p {
      margin-left: 8vw;
    }
  }

  @include screen1300 {
    h1 {
      margin: 70px 0 0 175px;
      //   margin-left: 13vw;
    }

    p {
      margin-left: 110px;
    }
  }
}

.pictureContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  //   border: 1px solid rgb(19, 15, 238);

  & img {
    // border: 1px solid rgb(34, 238, 15);
    filter: sepia(1);
    border-radius: 70px;
    width: min(60%, 250px);
    aspect-ratio: 1/1.4;
  }

  @include screen600 {
    margin-top: 0;
    height: 100%;
    width: 50%;

    img {
      transform: translateY(-50px);
    }
  }

  @include screen1100 {
    margin-right: 180px;
  }

  @include screen1300 {
  }
}

/* ME AND THE CODE SECTION */

.meAndCode {
  width: min(100%, 1300px);
  // margin-top: 120px;
  margin: 120px auto 0 auto;
  color: #8892b0;
  //   border: 1px solid blue;

  & h2 {
    margin-left: 12vw;
    font-weight: 600;
    font-size: clamp(1.375rem, 1.0456rem + 1.4054vw, 2.1875rem);
    color: white;
  }

  & p {
    margin-top: 45px;
    line-height: 1.7rem;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    color: $clr-text;
    letter-spacing: 0.1rem;
    // color: rgb(209, 209, 209);
  }

  @include screen500 {
    p {
      max-width: 90%;
      margin-left: 25px;
    }
  }

  @include screen600 {
    margin-top: 0px;
  }

  @include screen900 {
    p {
      max-width: 70%;
      margin-left: 35px;
    }
  }

  @include screen1100 {
    p {
      width: 80%;
    }
  }

  @include screen1300 {
    h2 {
      margin-left: 130px;
    }

    p {
      width: 75%;
    }
  }
}

/* QUICK FACTS SECTION */

.factsContainer {
  width: min(100%, 1300px);
  margin-top: 125px;
  margin: 125px auto 0 auto;

  & h2 {
    margin-left: 12vw;
    font-weight: 600;
    font-size: $fs-22to35-medium;
    color: white;
  }

  & .factTitle {
    margin: 45px 0 0 0;
    line-height: 1.6rem;
    font-weight: 600;
    color: white;
  }

  & .factDesc {
    margin-top: 25px;
    line-height: 1.6rem;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    color: $clr-text;
    letter-spacing: 0.05rem;
  }

  & .favQuote {
    display: flex;
    flex-direction: column;
    font-style: italic;
    font-weight: 200;
    max-width: 550px;
    margin-top: 25px;
    line-height: 1.6rem;
    color: rgb(209, 209, 209);

    & p:nth-of-type(2) {
      margin: 10px 25px 0 0;
      align-self: flex-end;
    }
  }

  @include screen500 {
    .factTitle {
      margin-left: 25px;
    }

    .factDesc {
      width: 90%;
      margin-left: 25px;
    }

    .favQuote {
      margin-left: 25px;
    }
  }

  @include screen900 {
    .factTitle,
    .factDesc {
      max-width: 60%;
      margin-left: 35px;
    }

    .favQuote {
      margin-left: 35px;
    }
  }

  @include screen1100 {
    .factDesc {
      width: 60%;
    }
  }

  @include screen1300 {
    h2 {
      margin-left: 130px;
    }

    .factDesc {
      width: 75%;
    }
  }
}

/* RULES SECTION */

.rules {
  width: min(100%, 1300px);
  margin-top: 80px;
  margin-bottom: 80px;
  margin: 80px auto 80px auto;

  & h2 {
    margin-left: 10vw;
    font-weight: 600;
    font-size: $fs-22to35-medium;
    color: white;
  }

  & .ruleTitle {
    margin: 45px 0 0 0;
    line-height: 1.6rem;
    font-weight: 600;
    color: white;
  }

  & .ruleDesc {
    margin-top: 25px;
    line-height: 1.6rem;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    letter-spacing: 0.05rem;
    color: $clr-text;
  }

  @include screen500 {
    .ruleTitle {
      margin-left: 25px;
    }

    .ruleDesc {
      width: 90%;
      margin-left: 25px;
    }
  }

  @include screen900 {
    .ruleTitle {
      margin-left: 35px;
    }

    .ruleDesc {
      max-width: 65%;
      margin-left: 35px;
    }
  }

  // @include screen1100 {
  //   .ruleDesc {
  //     // width: 80%;
  //   }
  // }

  @include screen1300 {
    h2 {
      margin-left: 130px;
    }
  }
}

/* THANKS */

.thanksContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: min(100%, 1300px);

  & p {
    margin: 80px 0 0 0;
    width: 90%;
    max-width: 500px;
    text-align: center;
    line-height: 1.6rem;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    color: $clr-text;
  }

  @include screen1300 {
    justify-content: flex-start;
    padding-left: 250px;
  }
}
