@use "../../../partialsScss" as scss;

.aboutContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid red;

  @include scss.screen600 {
    flex-direction: row;
  }
}

.aboutInfo {
  border: 1px solid rgb(60, 238, 15);
  & h1 {
    margin: 15px 0 0 55px;
    font-weight: 600;
    font-size: clamp(2.3125rem, 1.603rem + 3.027vw, 4.0625rem);
    color: white;
  }

  & p {
    margin-left: 25px;
    font-weight: 400;
    color: white;
  }

  & p:nth-of-type(1) {
    margin-top: 25px;
  }

  & p:nth-of-type(2) {
    margin-top: 15px;
    line-height: 1.3rem;
  }

  @include scss.screen500 {
    h1 {
      margin-left: 70px;
    }

    p {
      margin-left: 35px;
    }
  }

  @include scss.screen600 {
    width: 50%;
  }
}

.pictureContainer {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  border: 1px solid rgb(19, 15, 238);

  & img {
    filter: sepia(1);
    border-radius: 70px;
    width: min(60%, 250px);
  }

  @include scss.screen600 {
    align-items: center;
    width: 50%;
  }
}
