<aside class="mainContainer">
    <section class="logoContainer">
        <a class="logo" routerLink="/" (click)=" listElementText = ''">
            <div class="logoBox">
                <p>C</p>
                <p>K</p>
            </div>
        </a>
        <p class="fullName">Ciak Karol</p>
        <p class="positionName">Full Stack Developer</p>
    </section>
    <nav class="navContainer">
        <ul class="list">
            <li class="listElement" routerLink="aboutme">
                <span [ngClass]="{'listElementActive': listElementText === '/aboutme'}">About
                    me</span>
            </li>
            <li class="listElement" routerLink="skills"><span
                    [ngClass]="{'listElementActive': listElementText === '/skills'}">My skills</span>
            </li>
            <li class="listElement" routerLink="projects"><span
                    [ngClass]="{'listElementActive': listElementText === '/projects'}">Projects</span>
            </li>
            <li class="listElement" routerLink="contact"><span
                    [ngClass]="{'listElementActive': listElementText === '/contact'}">Contact</span>
            </li>
        </ul>
    </nav>
</aside>