@use "../../../partialsScss" as scss;

.mainContainer {
  display: none;
  width: 170px;
  height: 100%;

  @include scss.screen900 {
    display: block;
    width: 170px;
  }

  @include scss.screen1100 {
    width: 200px;
  }

  @include scss.screen1300 {
    width: 220px;
  }
}

.logoContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 190px;
  margin-top: 35px;

  @include scss.screen900 {
    height: 210px;
  }

  @include scss.screen1100 {
    height: 220px;
  }

  & .logo {
    // margin-top: 60px;
    // margin-bottom: 25px;
    // font-family: "Average", serif;
    // transform: scale(4);
    // background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
    // -webkit-background-clip: text;
    // background-clip: text;
    // -webkit-text-fill-color: transparent;

    @include scss.screen900 {
      // margin-top: 70px;
    }
    @include scss.screen1100 {
      // transform: scale(4.5);
      // margin-top: 75px;
      // margin-bottom: 30px;
    }

    & .logoBox {
      position: relative;
      height: 110px;
      font-family: "Shalimar", cursive;
      font-size: 7rem;
      // rotate: 15deg;

      // @include scss.debug;

      & p {
        background: linear-gradient(
          to bottom left,
          #1e9ec6 30%,
          #a936b8b6 65%,
          rgba(0, 0, 0, 0.959) 90%
        );
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        filter: drop-shadow(7px 4px 2px black);
      }

      & p:nth-of-type(1) {
        font-size: 8rem;
        // rotate: -15deg;
      }
      & p:nth-of-type(2) {
        position: absolute;
        top: 35px;
        left: 25px;
        font-size: 4rem;
        rotate: -15deg;
      }
    }
  }

  & .fullName {
    font-family: "Shalimar", cursive;
    font-weight: 600;
    font-size: 1.8rem;
    letter-spacing: 4px;
    color: white;
  }

  & .positionName {
    // position: absolute;
    // bottom: 15px;
    margin-top: 10px;
    color: gray;

    @include scss.screen900 {
      bottom: 12px;
    }
  }
}

.navContainer {
  width: 100%;
  height: 100%;
  padding-top: 50px;
  // background-color: rgb(24, 24, 24);
  // border: 1px solid red;
}

.list {
  width: 100%;
  font-size: 19px;

  & .listElement {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 55px;
    color: rgb(119, 119, 119);
    cursor: pointer;
    -webkit-tap-highlight-color: rgb(29, 29, 29);
    // border: 1px solid red;
  }
}

.listElementActive {
  background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.listElementActiveBG {
  background-color: rgb(29, 29, 29);
}
